html{
  font-size: 1.0em; /* 16px */
  line-height: 1.25em; /* 20px*/
  text-rendering: optimizeLegibility;
}

body{
  font-family: 'Exo', sans-serif;
  color: black;
  background-color:#F0F0F0;
  padding-top:20px;

}
form{
  border-radius: 7px;
}
label{
  display:block;
  padding: 5px;
  text-align: center
  
}

h1 {
  font-size: 2.25em; 
  line-height: 1.618em; 
  font-style: normal; 
  font-weight: normal;
	text-align: center;
} 

h2 {
  font-size: 1.618em; 
  line-height: 1.618em; 
  font-style: normal;
  font-weight: normal;
	text-align: center;
} 

p {
  font-size: 1em; 
  line-height: 1.618em;
  font-style: normal;
  font-weight: normal;
	text-align: center;
}
#join{
  background-color:#A9A9A9	;
}

input{
  resize: vertical;
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
}

/*subscribe button css */

#notify {
  padding-top: 0.809em;
  padding-bottom: 0.809em;
  width: 100%;
  text-align:center;
}

label[for=notification] {
  width: 100%;
  display: inline;
  padding: 0; 
}
#notification {
  width: auto;
  display: inline;
  padding: 0;
  vertical-align: top;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0.0em;
  margin-right: 0.6em;
  width: 1.364em;
  height: 1.664em;
}

input[type="checkbox"] {
  display: inline;
}
/* submit css */

#button {
  text-align:center;
  width: 30%;
  padding-top: 0.809em;
  padding-bottom: 0.809em;
  margin:auto;
}

#submit {
  width: 100%;   
  padding-top: 0.809em;
  padding-bottom: 0.809em;
  border-radius: 0.236em;
  border-style: hidden;
  background-color: ;
  color: black;
}
#submit:hover{
  background-color: #DCDCDC	;
  color: black;
  cursor: pointer;
  font-family: 'Exo', sans-serif;

}


/* ===== MODULAR STYLES ===== */
/* === media queiries === */
/* 400px Break Point 1: Extra Small Devices, Phones */
@media screen and (max-width: 354px) { 

  main {
    width: 80%;
    margin: auto;
    padding: 5px 0px;
}

  form {
    width: 90%;
    margin: auto;
  }

  input[type="text"],
  input[type="email"] {
    width: 100%;
    border: 2px solid black;
    margin: .2em auto .8em auto;
    padding: 3px;
  }
  input[type="text"],
  input[type="email"],
  placeholder {
    font-size: .100em;
  }
  
  h1 {
    font-size: 1.618em; /* 35.596px @ 22 */
    line-height: 1.618em; /* 26px / ~ 1.618% */ /* ( 26px / 22px = 1.182em ) */ 
    font-style: normal; 
    font-weight: normal;
  } 
  h2 {
    font-size: 1.391em; /* 30.593px @ 22 */
    line-height: 1.618em; /* 26px / ~ 1.618% */ /* ( 26px / 22px = 1.182em ) */ 
    font-style: normal;
    font-weight: normal;
    } 
 
 
  #notification {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.0em;
    margin-right: 0.6em;
    width: 2.007em;
    height: 2.007em;
  }

}

/* 658px Break Point 2: Small Devices, Tablets, PCs */
@media screen and (min-width: 658px) {
  
  body{
    background-color: white;
  }
  
  form{
    width:80%;
    margin:auto;
    text-align:left;
  }
  
  #notification {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.0em;
    margin-right: 0.6em;
    width: 1.364em;
    height: 1.664em;
    }
}

/* 992px Break Point 3: Desktop Computers, Large screens */
@media screen and (min-width: 996px) {
  body{
    background-color:#DCDCDC	
  }
  form{
    width:80%;
    margin:auto;
    text-align:left;
  }

  main {
    width: 80%;
    display: block;
    margin:auto;
    text-align: center;
    padding: 10px 10px;
    }
    
  input[type="text"],
  input[type="email"] {
    width: 50%;
    margin: 10px;
    padding: 10px;
  }

}